
.quicksand-font {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
.display-flex{
    display: flex;
}
.btn-primary{
    width: 197px;
    height: 50px;
    padding: 10px 10px;
    border-radius: 12px;
    color: white;
    background-color: #FEA301;
}
.orange-color{
    color: #FEA301;
}
.blue-color{
    color: #01ACFD;
}
.marin-blue-color{
    color:#05D4DF;
}
.deep-blue{
    color:#5D58EF;
}

/* nav related styles */

.nav-bar{
    justify-content: space-between;
    align-items: center;
    max-width: 1160px;
     
    margin: 0px auto;
}
.nav-title{
    font-size: 2rem;
    font-weight: 800;
}
.nav-title-and-img-box  {
    align-items: center;  
     height: 62px;
    
} 
.nav-title-and-img-box img{
    
    height: 100%;
}
.nav-links .item{
    list-style: none;
}
.nav-links{
    justify-content: space-between;
    gap: 32px;
}
.link-item{
    font-size: 1.25rem;
    text-decoration: none;
}


