
.quicksand-font {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
   
}
/* shared styles */
/* main{
      background-image :  linear-gradient(to bottom, #F7F7F7, rgba(254, 163, 1, 0.3)150% ),url('assets/bg.png') ;
} */
 main {
  background-image:
    linear-gradient(
      to bottom,
      rgba(247, 247, 247, 0.2),
      rgba(254, 163, 1, 0.15)
    ),
    url("assets/bg.png");

 
}

 
 
.display-flex{
    display: flex;
}
.title{
    font-size: 2.9rem;
    font-weight: bold;
    
}
.btn-primary{
   
    width: 197px;
    height: 50px;
    padding: 10px 10px;
    border: none;
    border-radius: 12px;
    color: white;
    background-color: #FEA301;
}
.btn-primary-2{
   
    width: 197px;
    height: 50px;
    padding: 10px 10px;
    border: none;
    border-radius: 12px;
    color: white;
    background-color: #111111;
}

.orange-color{
    color: #FEA301;
}
.blue-color{
    color: #01ACFD;
}
.marin-blue-color{
    color:#05D4DF;
}
.deep-blue-color{
    color:#5D58EF;
}
.black-color{
    color: #111111;
}
.violet-color{
    color: #8700FF;
}
 
/* nav related styles */

.nav-bar{
    justify-content: space-between;
    align-items: center;
    max-width: 1160px;
     
    margin: 0px auto;
}
.nav-title{
    font-size: 2rem;
    font-weight: 800;
}
.nav-title-and-img-box  {
    align-items: center;  
     height: 62px;
    
} 
.nav-title-and-img-box img{
    
    height: 100%;
}
.nav-links .item{
    list-style: none;
}
.nav-links{
    justify-content: space-between;
    gap: 32px;
}
.link-item{
    font-size: 1.25rem;
    text-decoration: none;
}
.fa-bars  {
    position: absolute;
    visibility:hidden;
}

/* banner related styles */


.banner{
    max-width: 1160px;
    margin: 0px auto;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.banner-title{
    font-size: 3.8rem;
    font-weight: 800;
    margin: 0px;
}
.banner-description{
    font-size: 1.25rem;
    font-weight: 400;
}
 
/* curriculum */
.curriculum{
    text-align: center;
}

.curriculum-details{
    max-width: 1160px;
    margin: 0px auto;
    gap: 29px;
}
.curriculum-card{
    width: 367px;
     
    border-radius: 18.86px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-color-1{
    box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(rgba(222, 245, 255, 1) ,#FFFFFF 40%);
}
/* rgba(255, 255, 255, 0)  */
.card-color-2{
     box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(rgba(255, 244, 220, 1)  ,#FFFFFF  40%);
}
.card-color-3{
     box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
     background: linear-gradient(rgba(238, 225, 255, 1), #FFFFFF 40% );
}
.session{
    font-size: 1.53rem;
    font-weight: bold;
    
}
.curriculum-description{
    font-size: 0.95rem;
    font-weight: 500 ;
}
.read-more{
    font-size: 0.95rem;
    font-weight: bold;
}

.arrows{
    margin: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.arrows .fa-angle-right{
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 60px;
    width: 60px;
    color: white;
    background-color: #FEA301; 
    border-radius: 50%;
}
.fa-angle-left{
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 60px;
    width: 60px;
    color: white;
    background-color: #FEA301; 
    border-radius: 50%;
} 

/* stories */

.stories{
    text-align: center;
    max-width: 1140px;
    margin: 0px auto;
}

.collage-story-cards{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
 
 
.training{
   box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
     background: linear-gradient(rgba(238, 225, 255, 1), #FFFFFF 40% );
     border-radius: 18px;
     width: 540px;
     
     overflow: hidden;
    
}
.training img{
    display: block;
}
.traning-card-btn{
    position: absolute;
    margin-top: -25px;
    margin-left: -200px ;
    width: 174px;
    height: 47px;
    border-radius: 48px;
    border: none;
    background-color: #3CD8E8;
}
.training-card-title{
    font-size: 1.50rem;
    font-weight: bold;
    margin-top: 60px;
    padding: 38px;
    text-align: start;
}
.training-card-description{
    font-size: 1rem ;
    font-weight: 400;
    padding:0px 38px;
    text-align: start;
}


 .story-cards{
    width: 290px;
    height: 300px;
    box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
     background: linear-gradient(rgba(238, 225, 255, 1), #FFFFFF 40% );
     border-radius: 18px;
     overflow: hidden;
}

.collage-stories{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.story-btn{
    margin: 80px auto;
}
.card-img{
    display: block;
 }
.card-btn{
    position:absolute;
   
    margin-top: -20px;
    margin-left: -80px;
  
    width: 174px;
    height: 38px;
    border: none;
    border-radius: 48px;
    color: white;
    background-color: #95B226;
}
.card-title{
    font-size: .97rem;
    margin-top: 33px;
}


/* footer */

footer{
     align-items: center;
    height: 519px;
    background-color: #01ACFD;
}
.footer-details{
    height: 222px;
    width: 1070px;
    margin: 0px auto;
    color: white;
    justify-content: space-between;
   
}
 .kids-edu{
    height: 80px;
    width: 300px;
    color: white;
    align-items:center;
}
.footer-title{
    
    
    font-size: 2.8rem;
    margin: 0px;
}
.footer-description{
    font-size: 1.25rem;
    width: 399px;
    padding-right: 172px;
}

 .footer-logo{
    height: 100%;
 }
.about p{
    font-size:1.25rem ;
}
.about-scl{
    margin: 0px;
    font-size: 1.50rem;
    font-weight: bold;
}
.social-icons{
    gap: 10px;
}
.social-title{
    margin-top: 0px;
    font-size: 1.50rem;
    font-weight: bold;
}


/* for responsive */

@media screen and (max-width:576px){
    nav{
        border-bottom: 2px solid orange ;
    }
    .nav-title,.nav-items,.btn-primary{
        position: absolute;
        visibility: hidden;
    }
    .fa-bars{
        position: relative;
        visibility: visible;
    }
    .nav-bar{
        max-width: 357px;
        margin: 0px auto;
        padding: 12px 16px;
        
    }

    /* banner */
    .banner{
        max-width: 357px;
        margin: 0px auto;
        flex-direction: column-reverse;
        text-align: center;
    }
    .banner img{
        width: 100%;
    }
    
    .banner-title{
        font-size: 2rem;
        font-weight: bold;
        
    }
    .banner-description{
        font-size: 0.875rem;
    }

    /* curriculum */
    .title{
        font-size: 1.50rem;
        font-weight: 800;
        max-width: 261px;
        margin: 20px auto;
    }
    .curriculum-details{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .arrows{
        position: absolute;
        visibility: hidden;
    }

    /* stories */
    .training{
        display: none;
    }
    .collage-stories{
        grid-template-columns: repeat(2,1fr);
         
    }

    .story-cards{
     width: 173px;
     height: 179px;
     box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
     background: linear-gradient(rgba(238, 225, 255, 1), #FFFFFF 40% );
     border-radius: 18px;
     overflow: hidden;
    }

    .collage-stories{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }
    .collage-story-cards{
        display: flex;
        justify-content: center;
    }
    .story-btn{
        margin: 80px auto;
    }
    .card-img{
        width: 173px;
        height: 105px;
        
        display: block;
    }
    .card-btn{
        position:absolute;
        font-size: 9.3px;
        margin-top: -10px;
        margin-left: -60px;
       
        width: 103px;
        height: 22px;
        border: none;
        border-radius: 48px;
        color: white;
        background-color: #95B226;
    }
    .card-title{
        font-size: 0.57rem;
        margin-top: 33px;
    }



    

    /* footer */
    footer{
        height: 642px;
          
          overflow: hidden;
    }
    .footer-details{
        flex-direction:column;
        margin-top:-250px ;
        padding: 21px;
    }
    .footer-title{
        font-size: 2.2rem;
    }
    .footer-description{
        font-size: 1rem;
    }


}

